<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      {{link-to '4 legged friends' 'animal.quadruped' class="btn btn-primary" tagName="button" type="button"}}
      {{link-to '2 legged things' 'animal.biped' class="btn btn-primary" tagName="button" type="button"}}
    </div>
  </div>
</div>

<div class="well">
  <p class="lead">Here's a little demo I whipped up for <code>ember-crumbly</code>! Click the 2 buttons above, navigate through the demo app, and observe the breadcrumb dynamically update.</p>

  <p class="lead">You can check out the source for <code>ember-crumbly</code> on <a href="https://github.com/poteto/ember-crumbly">GitHub.</a></p>

  <a href="https://twitter.com/sugarpirate_">@sugarpirate_</a>
</div>